<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe</title>
</head>
<body>
    <form id="login" method="post">
        <label id="icon" for="uname"><i class="icon-user"></i></label>
        <input type="text" name="uname" id="uname" placeholder="Username" required/>
        <label id="icon" for="pw"><i class="icon-user"></i></label>
        <input type="text" name="pw" id="pw" placeholder="Password" required/>
        <a href=submit><button type="submit" class="submit">SUBMIT</button></a>
    </form>
</body>
</html>