<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Recipe</title>
</head>
<body>
    <div class="center">
        <form action="" method="post">
            <label id="icon" for="name"><i class="icon-user"></i></label>
            <input type="text" name="name" id="name" placeholder="Recipe Name" required/>
            <button class="btn" type="submit">View Recipe</button>
        </form>
        {% if output %}
        <div class="output">{{output}}</div>
        {% endif %} 
    </div>
    
</body>
</html>